<div>
<h2> Translate App! </h2>
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Text in English</label>
    <input type="text" class="form-control" id="textInEnglish" placeholder = "Your text" [(ngModel)]="messageText"> 
  </div>

  <br>

  <select class="form-select">

    <option [value]=" targetLanguages" *ngFor="let targetLanguage of targetLanguages">{{targetLanguage}}</option>
  </select>
  <button (click)="sendText()" type="submit" class="nobtn btn-primary" >Submit</button> -->
</form>


<br/>

<div style = "display: inline-block">
  <div *ngFor = "let item of messages.slice().reverse()">
    <div class = "card text-white bg-secondary" style = "max-width: 18rem;">
      <div class = "card-header"> From English to {{item.targetLanguage}} </div>
      <div class = "card-body">
        <p class = "card-text"> Original: {{item.originalText}}</p>
        <p class = "card-text"> Translate: {{item.translatedText}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

